# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Always use LF line endings for project script files. If this is not set, nuisance changes (line ending only) will be detected, causing resource.json files to update.
ignition/script-python/** text eol=lf